<style>
{/*style for day_view page*/}
	html{
		font-family: WR Tish Smile;
	}

	@keyframes zoom {
    	from {transform: scale(0)} 
    	to {transform: scale(1)}
	}

	.bg{
		background-color: rgba(255, 197, 97, 1);
	}

	.day{
		position:relative; 
		margin: 0 auto; top: 3%;
		width: 88.5%;
		height: 4.5%;
		background-color: rgba(85,255,170,1);
		border-radius: 10px;
	}

	.link{ text-decoration: none; }
	a:link { color: black; }
	a:visited { color: black; }	
	a:hover { color: blue; }
	a:active { color: blue; }

	.titleBar{
		position: fixed; 
		margin: 0 auto;
		left: 0; top: 0;
		width: 100%;
		height: 3.5%;
		background: #5efb6E;
		background-color: rgba(255,255,255,0.8);
		padding: 0.7% 1% 1% 1%;
		z-index: 0;
	}

	.btnWeek{
		position: relative;
	    margin-top: -0.25%;
	    left: 7%;
	    float: left;
	    padding: 5px 5px;
	    background-color: rgba(0, 0, 0, 0.35);
	    border: 3px solid rgba(0, 0, 0, 0.35);
	    text-align: center;
	    color: white;
	    font-size: 1.2vw;
	    font-weight: bold;
	    width: 8%;
	    cursor: pointer;
	}

	.btnWeek:hover {
		transform: scale(1.04);
	}

	.btnMonth{
		position: relative;
	    margin-top: -0.25%;
	    left: 6.2%;
	    float: left;
	    padding: 5px 5px;
	    background-color: rgba(0, 0, 0, 0.35);
	    border: 3px solid rgba(0, 0, 0, 0.35);
	    text-align: center;
	    color: white;
	    font-size: 1.2vw;
	    font-weight: bold;
	    width: 10%;
	    cursor: pointer;
	}

	.btnMonth:hover {
		transform: scale(1.04);
	}

	.btnGoto{
		position: relative;
	    margin-top: -0.25%;
	    right: 16.5%;
	    float: right;
	    padding: 5px 5px;
	    background-color: rgba(0, 0, 0, 0.79);
	    border: 3px solid rgba(0, 0, 0, 1);
	    text-align: center;
	    color: white;
	    font-size: 1.2vw;
	    font-weight: bold;
	    width: 7%;
	    cursor: pointer;
	}

	.btnGoto:hover {
		transform: scale(1.04);
	}

	#gotoForm{
		position: fixed;
	    float: right;
	    margin-top: 4%;
	    right: 2.3%;
	    width: 20%;
	    height: 15%;
	    padding: 10px 0 0 0;
	    background-color: rgba(65,0,35,0.2);
	    border-radius: 15px;
	    text-align: center;
	    animation: zoom 0.3s;
	}

	#btnGo{
		position: relative;
		margin: auto;
		margin-top: 5%;
		padding: 5px 5px;
		background-color: rgba(0, 0, 0, 0.35); 
		border: 3px solid rgba(0, 0, 0, 0.35);	   	
	  	text-align: center;
	  	color: white;		   	   
	   	font-size: 1.2vw; 
	   	font-weight: bold;	
	   	width: 85%;	 
	   	cursor: pointer; 
	}

	#btnGo:hover {
		transform: scale(1.04);
	}

	.btnToday{
		position: relative;
	    margin-top: -0.25%;
	    right: 1.5%;
	    float: right;
	    padding: 5px 5px;
	    background-color: rgba(0, 0, 0, 0.35);
	    border: 3px solid rgba(0, 0, 0, 0.35);
	    text-align: center;
	    color: white;
	    font-size: 1.2vw;
	    font-weight: bold;
	    width: 7%;
	    cursor: pointer;
	}

	.btnToday:hover {
		transform: scale(1.04);
	}

	#logOut{
		position: relative;
	    right: 2%;
	    float: right;
		font-size: 20px;
		font-weight: bold;
		color: rgba(255, 0, 0, 1);
	}

	.view{
		position: fixed;
	    margin: -0.95% 27%;
	    margin-top: 0%;
	    font-size: 2.5vw;
	    opacity: 0.4;
	    font-weight: bold;
	}

	.time{
		float: left;
		margin-top: 13%;	
	}

	.hour{
		position: relative;
		width: 100px; height: 44px;
		background-color: #FF6F50;
		text-align: center;
		z-index: 1;
	}

	.line{
		position: absolute;
		border: 0.5px solid black;
		width: 98.7%;
	}

	.btnAddApp{
		width: 45px;
	    height: 45px;
	    border-radius: 50%;
	    border: none;
	    z-index: 10;
	    position: fixed;
	    background: rgba(255, 255, 255, 1);
	    cursor: pointer;
	    text-align: center;
	    font-size: 55px;
	    padding: 1px 7px 12px 7px;
	    float: right;
	    right: 1%;
	    top: 55px;
	    color: white;
	}

	.btnAddApp:hover {
		transform: scale(1.04);
		box-shadow: 5px 5px 2px #ACAAAA;
	}

	.addAppointment{	
		display: none;
		position: fixed;
	    float: right;
	    margin-top: 7%;
	    right: 3.5%;
	    width: 18%;
	    height: 45%;
	    background-color: rgba(255, 255, 255, 1);
	    border-radius: 10px;
	    text-align: center;
	    z-index: 9;
	}

	#addApp{
		position: relative;
		top: 10px;
		font-size: 30px;
		font-style: border;
		color: black;
	}

	.addApp-content{
		margin-top: 6%; 
	}

	input[type=text],input[type=date],input[type=time]{
	    width: 60%;
	    padding: 1% 5px;
	    margin: 0.5% 5%;
	    border: 1px solid #ccc;
	    border-radius: 5px;
	    box-sizing: border-box;
		font-size:16px;
	}

	.btnAdd{
		position: relative;
		margin: auto;
		margin-top: 5%;
		padding: 5px 5px;
		background-color: #00FA9A; 
		border: 3px solid #00FA9A;	   	
	  	text-align: center;
	  	color: white;		   	   
	   	font-size: 1.2vw; 
	   	font-weight: bold;	
	   	width: 90%;	 
	   	cursor: pointer; 
	}

	.btnAdd:hover {
		transform: scale(1.04);
	}

	.detail-animate {
   		animation: zoom 0.4s
	}

	.detail{
		display: none;
	    position: fixed;
	    z-index: 10;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    overflow: auto;
	    background-color: rgba(0,0,0,0.4);
	}

	.detail-content{
		background-color: #fefefe;
	    margin: 10% auto 0 auto;
	    border: 1px solid #888;
	    width: 40%;
	    height: 51%;
	    padding-bottom: 30px;
	}

	.appointment{
		float: left;
		border: 1px solid red;
	}

	.days{
		margin-top: 9.5%;
	    width: 174.1px;
	    height: 1080px;
	    float: left;
	    border: 1px solid white;
	}

	#year{
		position: absolute;
	    margin-top: 9.4%;
	    width: 96px;
	    height: 20px;
	    float: left;
	    left: 6px;
	    border: 3px solid black;
	    background-color: #FF6F50;
	    text-align: center;
	    padding-top: 5px;
	    font-size: 22px;
	    font-weight: bold;
	}

	.show-day{
		top: 0;
	    left: 0px;
	    width: 97%;
	    height: 20px;
	    float: left;
	    border: 3px solid black;
	    background-color: white;
	    font-size: 18px;
	    text-align: center;
	    padding-top: 5px;
	    font-weight: bold;
	}

	.show-week{
	    position: absolute;
	    width: 320px;
	    height: 30px;
	    top: 70px;
	    left: -160px;
	    margin-left: 50%;
	}

	#next{
		border: 1px solid rgba(253, 253, 253, 0.8);
		position: relative;
		right: 0;
		width: 32px;
		height: 100%;
		float: left;
		text-align: center;
		font-size: 1.4vw;
		font-weight: bold;
		cursor: pointer;
		background-color: rgba(250, 253, 253, 0.8);
	}

	#prev{
		border: 1px solid rgba(253, 253, 253, 0.8);
		position: relative;
		left: 0;
		width: 32px;
		height: 100%;
		float: left;
		text-align: center;
		font-size: 1.4vw;
		font-weight: bold;
		cursor: pointer;
		background-color: rgba(250, 253, 253, 0.8);
	}

	.week{
		position: relative;
	    height: 88%;
	    padding: 5px 5px;
	    float: left;
	    width: 246px;
	    text-align: center;
	    font-weight: bold;
	    font-size: 1.8vw;
	    padding-top: 5px;
	}

</style>